@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', system-ui, sans-serif;

  --color-primary-50: #F7F0FF;
  --color-primary-100: #EDDDFE;
  --color-primary-200: #D9B8FE;
  --color-primary-300: #BF89FD;
  --color-primary-400: #A151FB;
  --color-primary-500: #8823FA;
  --color-primary-600: #7405F2;
  --color-primary-700: #5F04C6;
  --color-primary-800: #470395;
  --color-primary-900: #300263;
  --color-primary-1000: #180132;

  --color-secondary-50: #FBFFF0;
  --color-secondary-100: #F8FFE3;
  --color-secondary-200: #F1FFCB;
  --color-secondary-300: #E9FFAC;
  --color-secondary-400: #DFFE87;
  --color-secondary-500: #D7FE68;
  --color-secondary-600: #D0FE4F;
  --color-secondary-700: #BFFE0F;
  --color-secondary-800: #90C301;
  --color-secondary-900: #5B7B01;
  --color-secondary-1000: #253300;
}

body {
  margin: 0;
  font-family: var(--font-sans);
}
